<div class="hero">
    <h1>Muse Home Page</h1>
    <body>
      <p>{{data.userName}}</p>
    </body>
</div>

<!-- for each syntax https://stackoverflow.com/questions/12414834/iterate-over-an-object-for-handlebars -->
