<div class="hero">
    <h1>Muse login</h1>
    <body>
        <form id="login" action="/login" method="post">
            Slack Username: <input type="text" id="username" />
            <button id="submit">Verify</button>
        </form>
    </body>
</div>
